---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <section id="welcome-section">
        <div class="fade-in">
          <h1>Gabriel Dwyer</h1>
          <p>failing polymath</p>
        </div>
    </section>

    <hr>

    <section id="projects">
        <h2>Projects</h2>
        <div class="project-tile-wrapper">
            {% for project in site.projects %}
                {{ project }}
            {% endfor %}
        </div>
    </section>

    <hr>

    <section id="contact">
        <div class="social-media-wrapper">
            {%- include social.html -%}
        </div>
    </section>

    <hr>

    <!--
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
    <div>Yep, this worked.</div>
    {%- endif -%}
    -->

    {{ content }}

</div>
